.header {
    font-family: "poppins";
    font-weight: 700;
    color: var(--VeryDarkCyan);
    @media screen and (max-width: 900px) {
        text-align: center;
    }
}

.primary {
    font-size: 2.1rem;

    @media screen and (max-width: 900px) {
        font-size: 1.8rem;
    }
}

.secondary {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
